/*standard mgwt button*/
.mgwt-Button {
	color: #DB0134;
	background-image:none;
	border-color:#DB0134;
	border-width:2px;
}

/*style if button is pressed*/
.mgwt-Button-active {
	color: white;
	background-image:none;
	background-color:#DB0134;
	border-color:#DB0134;
	border-width:2px;
}

/* style for important button*/
.mgwt-Button-important {
}

/* style for important button when pressed*/
.mgwt-Button-important.mgwt-Button-active {
}

/* style for a confirm button*/
.mgwt-Button-confirm {
}

/* style for confirm button pressed*/
.mgwt-Button-confirm.mgwt-Button-active {
}

/* style for a small button*/
.mgwt-Button-small {
}
/*style for a round button */
.mgwt-Button-round {
	
}