.z_index {
	
}

.active{
	 color: #FEFEFE;
	 background: #DB0134!important;
}

.mgwt-DialogAnimationContainer-Shadow {
	
}

.mgwt-DialogAnimationContainer {
	
}

.mgwt-BottomPanel {
	
}

.mgwt-DialogPanel {
	background: #FEFEFE;
	border: none;
	-webkit-box-shadow: none;
}

.mgwt-DialogPanel .container {
	background: #FEFEFE;
	color: #DB0134;
	text-shadow: none;
	border: none;
}

.mgwt-DialogPanel .title {
	border-bottom: 2px solid #DB0134;
	color: #DB0134;
}

.mgwt-DialogPanel .content {
	background: #FEFEFE;
	color: #DB0134;
}

.mgwt-DialogPanel .footer {
	
}

.mgwt-DialogPanel .okbutton,.mgwt-DialogPanel .cancelbutton {
	
}