.mgwt-HeaderPanel {
	background-color: #DB0134;
	border-bottom: none;
	background-image: none;
}

.mgwt-HeaderPanel-left {
	
}

.mgwt-HeaderPanel-right {
	
}

.mgwt-HeaderPanel-center {
	font-size: 22px;
	font-family: "HelveticaNeue";
}

.mgwt-HeaderButton {
	
}

.mgwt-HeaderButton .mgwt-HeaderButton-text {
	background-color: #ED8689;
	border: none;
}

.mgwt-HeaderButton-active .mgwt-HeaderButton-text {
	background: #FEFEFE !important;
	background-color: #FEFEFE;
}

.mgwt-HeaderButton-active .mgwt-HeaderButton-border-content {
	background: #FEFEFE !important; 
	background-color: #FEFEFE;
}

.mgwt-HeaderButton-back 

.mgwt-HeaderButton-back .mgwt-HeaderButton-border-container {
	background-color: #ED8689;
	border: none;
}

.mgwt-HeaderButton-back .mgwt-HeaderButton-border-content {
	background-color: #ED8689;
	border: none;
	height: 16px;
}

.mgwt-HeaderButton-forward .mgwt-HeaderButton-border-container {
	
}

.mgwt-HeaderButton-round {
	
}

.mgwt-DropDownMenu {
	
}

.mgwt-DropDownMenu-content {
	
}

.mgwt-DropDownMenu-arrow {
	
}

.mgwt-DropDownMenu .mgwt-HeaderPanel {
	
}

.mgwt-DropDownMenu .mgwt-HeaderPanel .mgwt-HeaderPanel-center {
	
}

.mgwt-DropDownMenu .mgwt-HeaderButton-back .mgwt-HeaderButton-border-content {
	
}

.mgwt-DropDownMenu .mgwt-HeaderButton {
	
}

.mgwt-DropDownMenu .mgwt-HeaderButton .mgwt-HeaderButton-text {
	
}

.mgwt-DropDownMenu .mgwt-HeaderButton-active .mgwt-HeaderButton-text {
}

.mgwt-DropDownMenu .mgwt-HeaderButton-active .mgwt-HeaderButton-border-content {
}