.mgwt-TextBox {
	color: #DB0134;
}

.mgwt-PasswordTextBox {
	color: #DB0134;
}

.mgwt-TextArea {
	color: #DB0134;
}

.mgwt-TextBox .mgwt-InputBox-box {
	color: #DB0134;
}

.mgwt-PasswordTextBox .mgwt-InputBox-box {
	color: #DB0134;
}

.mgwt-TextArea .mgwt-InputBox-box {
	color: #DB0134;
}

.mgwt-RadioButton {
	color: #DB0134;
}

.mgwt-RadioButton>label {
	color: #DB0134;
}

.mgwt-InputBox-disabled {
	color: #DB0134;
}

.mgwt-ListBox {
	color: #DB0134;
}