.mgwt-List {

}

.mgwt-List-round {
}

.mgwt-List > li {
	color:#DB0134;
	font-family: "HelveticaNeue";
	border-color:#E0E0E0;
	border-width:1px;
}

.mgwt-List-round > .mgwt-List-first {
	
}

.mgwt-List-round > .mgwt-List-last {
	
}

.mgwt-List-selected {
	color: white;
	background-color: #DB0134;
	
}

.mgwt-List-group {
	
}

.mgwt-List-group.mgwt-List-selected {
	
}

.mgwt-List-Header {
	
}



.mgwt-FormList-Element{
	
}
	
.mgwt-FormList-Element-label{
	
}


.mgwt-FormList-Element-container{

}

.mgwt-List-canbeSelected{

}

