/* include awesome font */
@import url("assets/fonts/font-awesome/css/font-awesome.min.css");

@font-face {
	font-family: 'HelveticaNeue';
	src: url(assets/fonts/helvNeue.woff);
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'HelveticaNeue';
}

*:focus {
	outline: none;
}

body {
	background-color: #fEfEfE;
	background-image: none;
}


.process-done {
	width: 3px;
	height: 3px;
	margin-left: 9px;
	background-color: #4ED001;
	border-radius: 50%;
	padding: 5px;
	text-align: center;
	line-height: 200px;
	font-family: arial, serif;
	font-size: 30px;
	border: 2px solid black;
	opacity: 0.5;
}

.process-done-line {
	width: 0px;
	margin-left: 16px;
	color:grey;
	background-color: none;
/* 	padding-right: 1px; */
	text-align: center;
	font-family: arial, serif;
	border-top: 2px solid grey;
	opacity: 0.6;
	position:absolute;
	border-radius:2px;
}

.process-active {
	width: 20px;
	height: 20px;
/* 	margin-right: 3px; */
	background-color: white;
	border:2px solid #DB0134;
	border-radius: 50%;
/* 	padding-left: 7px; */
	text-align: center;
	/* line-height: 200px; */
	font-size: 25px;
/* 	-webkit-box-shadow: 1px 1px 0 black, 2px 2px 0 grey, 3px 3px 0 lightgrey; */
	margin-left: 5px;
}

.process-due {
	width: 9px;
	height: 9px;
	background-color: none;
	border-radius: 50%;
	padding: 5px;
	text-align: center;
	line-height: 200px;
	font-size: 20px;
	border: 2px solid black;
	margin-left: 5px;
}

.process-due-line {
	width: 0px;
	margin-left: 15px;
	background-color: none;
/* 	padding-right: 8px; */
	font-family: arial, serif;
	border-top: 2px solid #DB0134;
	position:absolute;
	border-radius:2px;
	opacity:0.5;
}

.line {
	border-left: 2px solid #DB0134;
	height: 100%;
	margin-left: 16px;
	padding: 12px;
}

.line-done {
	border-left: 2px solid grey;
	height: 100%;
	margin-left: 16px;
	padding: 10px;
	opacity: 0.3;
}

.process-placeholder {
	width: 4px;
	margin-left: 8px;
	background-color: none;
	padding: 10px;
}

.tileBoard {
	margin: 0px!important;
	padding: 0px!important;
	display: -webkit-flex!important;
	display: -moz-flex!important;
	display: flex!important;
	-webkit-flex-flow: row wrap!important;
	-moz-flex-flow: row wrap!important;
	flex-flow: row wrap!important;
	-webkit-justify-content: center!important;
	-webkit-align-content: flex-start!important;
}

.tileBoard .GOE-WOTBAJ {
	position: relative;
 	max-height: 100px!important; 
	max-width: 100px!important;
}

.tileBoard .GOE-WOTBAJ .GOE-WOTBBJ {
	position: relative;
}

/* Link Tile icon */
.curvedarrow {
  position: relative!important;
  width: 0!important;
  height: 0!important;
  border-top: 9px solid transparent;
  border-right: 9px solid #FEFEFE;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.curvedarrow:after {
  content: "";
  position: absolute!important;
  border: 0 solid transparent;
  border-top: 3px solid #FEFEFE;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/* Flip Animation */
.GOE-WOTBFJ {
	-webkit-perspective: 800!important;
	-webkit-transition-duration: 350ms, 350ms!important;
}


.processes-list {
	position: relative;
    list-style: none;
    border-collapse: collapse;
}

.processes-list > li {
	position: relative;
	padding:0px;
	color:#DB0134;
	display:inline;
	white-space:nowrap;
	text-align:left;
}

/* Checkboxes */
.mgwt-CheckBox-off {
	color: #DB0134 !important;
	border: solid 1px #DB0134 !important;
	background-image: none !important;
}

.mgwt-CheckBox-on {
	background-color: #DB0134 !important;
	background-image: none !important;
	border: solid 1px #FEFEFE !important;
}

.mgwt-CheckBox-middle-content {
	background-color: #FEFEFE !important;
	background-image: none !important;
}

