@font-face {
	font-family: 'HelveticaNeue';
	src: url(assets/fonts/helvNeue.woff);
}

@font-face {
	font-family: 'FontAwesome';
	src: url('assets/fonts/font-awesome/fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('assets/fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('assets/fonts/font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('assets/fonts/font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('assets/fonts/font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight: normal;
 	font-style: normal;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'HelveticaNeue';
}

*:focus {
	outline: none;
}

body {
	background-color: #fEfEfE;
	background-image: none;
}

.process-done-line {
	height:40%;
	margin-left: 16px;
	color:grey;
	background-color: none;
/* 	padding-right: 1px; */
	text-align: center;
	font-family: arial, serif;
	border-left: 2px solid #DB0134;
	position:absolute;
	border-radius:2px;
}

.process-active {
	width: 20px;
	height: 20px;
/* 	margin-right: 3px; */
	background-color: white;
	border:2px solid #DB0134;
	border-radius: 50%;
/* 	padding-left: 7px; */
	text-align: center;
	/* line-height: 200px; */
	font-size: 25px;
/* 	-webkit-box-shadow: 1px 1px 0 black, 2px 2px 0 grey, 3px 3px 0 lightgrey; */
	margin-left: 5px;
}
.text-done{
	margin-left: 35px;
	text-align: left;
	padding-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #DB0134;	
	
}

.text-due{
	margin-left: 35px;
	text-align: left;
	padding-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: grey;
	
}
.process-due {
	width: 9px;
	height: 9px;
	background-color: none;
	border-radius: 50%;
	padding: 5px;
	text-align: center;
	line-height: 200px;
	font-size: 20px;
	border: 2px solid black;
	margin-left: 5px;
}

.process-due-line {
	width: 0px;
	height:40%;
	margin-left: 16px;
	background-color: none;
/* 	padding-right: 8px; */
	font-family: arial, serif;
	border-left: 2px solid lightgrey;
	position:absolute;
	border-radius:2px;
}

.line-done {
	border-left: 2px solid #DB0134;
	height: 100%;
	margin-left: 16px;
	padding: 12px;
}

.line {
	border-left: 2px solid lightgrey;
	height: 100%;
	margin-left: 16px;
	padding: 10px;
}

.process-placeholder {
	width: 4px;
	margin-left: 8px;
	background-color: none;
	padding: 10px;
}

.tileBoard {
	padding: 10px!important;
	margin: 0 auto!important;
/* 	display: -webkit-flex!important; */
/* 	display: -moz-flex!important; */
/* 	display: flex!important; */
/* 	-webkit-flex-flow: row wrap!important; */
/* 	-moz-flex-flow: row wrap!important; */
/* 	flex-flow: row wrap!important; */
/* 	-webkit-justify-content: center!important; */
/* 	-webkit-align-content: flex-start!important; */

	display: block!important;
	max-width: 100%!important;
}

.tileBoard .GOE-WOTBAJ {
	position: relative;
 	max-height: 100px!important; 
/* 	max-width: 100px!important; */
	float: left;
	margin-right: 10px;
}


.GOE-WOTBAO .tileBoard .mgwt-ScrollPanel-container {
	display: block!important;
}

.tileBoard > div {
	float: left;
}

.tileBoard .GOE-WOTBAJ .GOE-WOTBBJ {
	position: relative;
}

/* Link Tile icon */
.curvedarrow {
  position: relative!important;
  width: 0!important;
  height: 0!important;
  border-top: 9px solid transparent;
  border-right: 9px solid #FEFEFE;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.curvedarrow:after {
  content: "";
  position: absolute!important;
  border: 0 solid transparent;
  border-top: 3px solid #FEFEFE;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/* Flip Animation */
.GOE-WOTBFJ {
	-webkit-perspective: 800!important;
	-webkit-transition-duration: 350ms, 350ms!important;
}


.processes-list {
	position: relative;
    list-style: none;
    border-collapse: collapse;
}

.processes-list > li {
	position: relative;
	padding:0px;
	color:#DB0134;
	display:inline;
	white-space:nowrap;
	text-align:left;
}

/* Checkboxes */
.mgwt-CheckBox-off {
	color: #DB0134 !important;
	border: solid 1px #DB0134 !important;
	background-image: none !important;
}

.mgwt-CheckBox-on {
	background-color: #DB0134 !important;
	background-image: none !important;
	border: solid 1px #FEFEFE !important;
}

.mgwt-CheckBox-middle-content {
	background-color: #FEFEFE !important;
	background-image: none !important;
}

/* Mensa View */

.mealGroups-container {
	margin: 0 auto;
	width: 95%;
}

.mealGroups-container .mgwt-List-last {
	border: none;
}

.mealGroup-titlebar {
	width: 100%;
}


.mealGroups-date {
	color: #DB0134;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

.mealGroup-container {
	width: 100%;
	margin-top: 20px;
}

.mealGroup-separator {
	width: 100%;
	height: 2px;
	margin-top: 20px;
	border: 1px solid #DB0134;
}

.meal-container {
	width: 100%;
}

.mealGroup-title {
	color: #DB0134;
	font-size: 1.5em;
	line-height: 2.5em;
	text-align: left;
	vertical-align: bottom;
}

.mealGroup-rating {
}

.meal-name {
	color: grey;
	padding-left: 15px; 
}


.meal-modifiers-container {
	float: right;
}

tr > td {
	vertical-align: middle!important;
}

.meal-pig {
	width: 20px;
	height: 16px;
	background-image: url(assets/icons/meal_pig.gif);
	background-repeat:no-repeat;
	background-position: center;
}

.meal-cow {
	width: 20px;
	height: 16px;
	background-image: url(assets/icons/meal_cow.gif);
	background-repeat:no-repeat;
	background-position: center;
}

.meal-cow-welfare {
	width: 20px;
	height: 16px;
	background-image: url(assets/icons/meal_cow_welfare.jpg);
	background-repeat:no-repeat;
	background-position: center;
}

.meal-vegan {
	width: 20px;
	height: 16px;
	background-image: url(assets/icons/meal_vegan.gif);
	background-repeat:no-repeat;
	background-position: center;
}

.meal-vegetarian {
	width: 20px;
	height: 16px;
	background-image: url(assets/icons/meal_vegetarian.gif);
	background-repeat:no-repeat;
	background-position: center;
}

.meal-msc {
	width: 20px;
	height: 16px;
	background-image: url(assets/icons/meal_msc.jpg);
	background-repeat:no-repeat;
	background-position: center;
}

.meal-bio {
	width: 20px;
	height: 16px;
	background-image: url(assets/icons/meal_bio.jpg);
	background-repeat:no-repeat;
	background-position: center;
}

.meal-price{
	color: #DB0134;
	text-align: right;
	min-width: 55px;
}

/* Shake content */
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

/* Rotate Arrow for AccordionWidget */
@-webkit-keyframes rotateDown {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(180deg); }
}

@-webkit-keyframes rotateUp {
	from { -webkit-transform: rotate(180deg); }
	to { -webkit-transform: rotate(0deg); }
}

.arrowRotateDown {
	-webkit-animation-name: rotateDown;
	-webkit-animation-duration: 0.25s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-timing-function: linear;
}

.arrowRotateUp {
	-webkit-animation-name: rotateUp;
	-webkit-animation-duration: 0.25s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-timing-function: linear;
}

.arrowUp {
	-webkit-transform: rotate(180deg);
}

/* Hide border of last element in list of accordion widget */
.accordionValuePanelWrapper .mgwt-List-last {
	border: none;
}

.mgwt-List-settings > li {
	border: none!important;
}

/* Rating Dialog */
.rating-dialog-wrapper {
	padding: 25px;
	background-color: #FEFEFE;
}

.rating-dialog-box {
	text-align: center;
}
