@font-face {
   font-family: 'HelveticaNeue'; 
   src: url(assets/fonts/helvNeue.woff);
   }

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'HelveticaNeue';
}

*:focus {
    outline: none;
}

body {
	background-color: #fEfEfE;
	background-image: none;
}

#test{
	color: red;
}

.tileBoard .GOE-WOTBAJ {
	position: relative;
}

.tileBoard .GOE-WOTBAJ .GOE-WOTBBJ {
	position: relative;
}