.mgwt-SearchBox {
	color: #DB0134;
	border-bottom: 2px solid #DB0134;
}

.mgwt-SearchBox-round {
	color: #DB0134;
}

.mgwt-SearchBox-input {
	color: #DB0134;
}

.mgwt-SearchBox-clear {
	
}

.mgwt-SearchBox-clear-active {
	
}